*{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 50px;
    width: 1380px;
    background-color: blue;
    color: white;
}
.h1{
    height: 50px;
    width: 1380px;
    background-color: blue;
    color: white;
    color: white;
}
.h1a{
    float: left;
    margin-left: 820px;
    font-size: 20px;
    line-height: 50px;
    
}
.h1a a{
    color: white;
    text-decoration: none;
}

.h1b{
    float: right;
    margin-right: 50px;
    font-size: 30px;
}
.h1b p{
    float: left;
    display: inline;
    
}
.h1b ul li{height: 30px;
    width: 30px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    list-style: none;
}
.h1b ul li a img{
    text-decoration: none;
    height: 30px;
    width: 30px;
    float: left;
    display: inline;
    /* margin-right: 10000px; */

}
.h2{ height:200px;
    width: 1380px;
    background-color: white;
}
.h2a{
    float: left;
    height: 200px;
    width: 250px;

}
.h2a img{
    height:200px ;
    width: 250px;
    padding: 0px;    /* margin-right: 70px; */
}
.h2b{
    float: left;
    height: 200px;
    width: 800px;
    margin-left: 12px;

}
.h2b img{height:100px ;
    width: 200px;
    margin-left: 290px;
}
.h2b h1{
    margin-left: 150px;
    color: blue;
}
.h2b h2{
    margin-left: 300px;
    color: blue;
}
.h2b p{
    margin-left: 100px;
    color:black;
    font-size: 20px;

}



.h2c{
    float: left;
    height: 200px;
    width: 250px;
    margin-left: 10px;

}
.h2c img{
    height:200px ;
    width: 250px;
    margin-left: 50px;
}
.h2d{
    height:100px ;
        width: 1380px;
        float: left;
        background-color: white;
    
}
.h2d p{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}
.h3{
    height: 50px;
    width: 1380px;
    background-color: blue;
    color: white;
    float: left;
}

.one{
    z-index: 1;
}
.h3 ul li{
    display: inline;
    margin-left: 30px;
    float: left;
    padding-left: 50px;
    
}

.h3 ul li a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
}
.h3 ul li a:hover{
    color: red;
    
}
.h3 ul li a>ul li{
    background-color: rgb(65, 63, 63);
    color:white ;
    display: none;
    text-align: center;

}

.h3 ul li a:hover>ul li{
    display: inline-block;
}
.h4{
    height:500px;
    width: 1380px;
    background-color: white;
}
.h4a{
    height:500px;
    width: 290px;
    margin: 8px 8px 8px 8px;
    background-color:white;
    float: left;
border: 5px solid blue;
z-index: 2;
}
.h4a h1{
    margin: 8px 8px 8px 30px;
    color: blue;
}
.h4a a{
    margin: 8px 8px 8px 20px;
    color: blue;

}


.h4b{
    height:500px;
    width: 730px;
    margin: 8px 8px 8px 8px;
    background-color:white;
    float: left;
    z-index: -2;
}
.h4b img{
    height:500px;
    width: 730px;
    margin: 8px 8px 8px 8px;
    z-index: 2;
}
.h4c{
    height:500px;
    width: 290px;
    margin: 8px 8px 8px 8px;
    background-color:white;
    float: left;
border: 5px solid blue;
z-index: 2;
}
.h4c h1{
    margin: 8px 8px 8px 30px;
    color: blue;
}
.h4c a{
    margin: 8px 8px 8px 20px;
    color: blue;

}
.h5{
    height: 400px;
    width:1380px;
    background-color: white;
    float: left;
}
.h5a{
    height: 400px;
    width: 200px;
    background-color: white;
    float: left;
}
.h5b{
    height: 400px;
    width: 980px;
    background-colo:white;
    float: left;
}
.h5b1{
    height: 300px;
    width: 300px;
    background-color: blue;
    float: left;
    margin-top: 20px;
    margin-left:20px;
}
.h5b1 img{
    height: 200px;
    width: 250px;
    margin: 20px 20px 20px 20px;

}
.h5b1 h4{
    text-align: center
}

.h5b2{
    height: 300px;
    width: 300px;
    background-color: blue;
    float: left;
    margin-top: 20px;
    margin-left:20px;
}
.h5b2 img{
    height: 200px;
    width: 250px;
    margin: 20px 20px 20px 20px;
}
.h5b2 h4{
    text-align: center
}

.h5b3{
    height: 300px;
    width: 300px;
    background-color: blue;
    float: left;
    margin-top: 20px;
    margin-left:20px;
}
.h5b3 img{
    height: 200px;
    width: 260px;
    margin: 20px 20px 20px 20px;
}
.h5b3 h4{
    text-align: center
}

.h5c{
    height: 400px;
    width: 200px;
    background-color:white;
    float: left;
}
.h6{
    height: 500px;
    width: 1380px;
    color: black;
    float: left;
}
.h6 h1{
    color: blue;
    font-size: 50px;
}
.h6 p{
    font-size: 20px;
}
.h7{
    height:500px;
    width: 1380px;
    background-color: blue;
    float: left;
}
.h7A{
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
    text-align: center;
    line-height: 50px;
}
.h7B{
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
    text-align: center;
    line-height: 50px;
}
.h7B h1{
    margin-right: 70px;

}
.h7a{
    height: 200px;
    width: 500px;
    background-color: white;
    float: left;
    margin-top: 10px;
    margin-left: 110px;
}
.h7aa img{height: 100px;
    width: 200px;
    margin: 50px 20px 50px 20px;
    float: left;
    
}
.h7ab{
    height: 200px;
    width: 250px;
    
    float: left;
    margin-left: 0px;
    font-size: 20px;
}
.mh{
    text-decoration: none;
}
.h7b{
    height: 350px;
    width: 500px;
    background-color:white;
    float: left;
    margin-top: 10px;
    margin-left: 130px;
}

.h7c{
    height: 200px;
    width: 500px;
    background-color: white;
    float: left;
    margin-top: -130px;
    margin-left: 110px;
}
.h7c img{height: 100px;
        width: 200px;
        margin: 50px 20px 50px 20px;
        
    }
    .h7ca img{height: 100px;
        width: 200px;
        margin: 50px 20px 50px 20px;
        float: left;
        
    }
    .h7cb{
        height: 200px;
        width: 250px;
        
        float: left;
        margin-left: 0px;
        font-size: 20px;
    }
    .cpp{
        text-decoration: none;
    }
.h8{
    height: 530px;
    width: 100%;
    background-color:white;
    float: left;
    border: 4px solid red;
}
.h8A{
    height: 100px;
    width: 100%;
    float: left;
    color: blue;
    background-color:white;
    text-align: center;
    line-height: 100px;
}
.h8A h1{
    font-size: 40px;
}
.h8a{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: black;
}
.h8a img{
    height: 200px;
    width: 100%;
}

.h8b{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(41, 37, 37);
}
.h8b img{
    height: 200px;
    width: 100%;
}
.h8c{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(139, 83, 83);
}
.h8c img{
    height: 200px;
    width: 100%;
}
.h8d{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(226, 193, 193);
}
.h8d img{
    height: 200px;
    width: 100%;
}

.h8e{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(212, 127, 127);
}
.h8e img{
    height: 200px;
    width: 100%;
}
.h8f{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(172, 22, 22);
}
.h8f img{
    height: 200px;
    width: 100%;
}
.h8g{
    height: 200px;
    width: 23%;
    float: left;
    margin: 5px;
    background-color: rgb(172, 48, 48);
}
.h8g img{
    height: 200px;
    width: 100%;
}
.h9{
    height: 400px;
    width: 100%;
    background-color:skyblue;
    float: left;
}
.h9a{
    height: 400px;
    width: 30%;
    background-color: skyblue;
    color: blue;
    float: left;
    margin-left: 45px;
}

.h9b{
    height: 400px;
    width: 30%;
    background-color: skyblue;
    color: blue;
    float: left;
    text-align: center;
}

.h9c{
    height: 400px;
    width: 30%;
    background-color: skyblue;
    color: blue;
    float: left;
}